extends layout

block content
    h1= "You Goofed, But You're Safe - Courtesy of Dylan Phelan"
    h3.
        Please, for the love of God, send me an email (dylan.phelan@tufts.edu) if you visit this page. I need to record statistics on the success of this, and your responses are the only way I can do that. Help me pass Ming's class please <3 
    p.
        The bad news is that you should have a virus right now. The good news is that you don't. The link that you thought was 
        supposed to bring you to a google form acually linked to this website. This is as part of a project I'm running for my 
        security class to investigate the power of phishing attacks, emails that entice users to click on a link that looks
        important, but actually force the user to download a virus. 
    p.
        These kind of attacks can be much more sophisticated than this, linking you to  websites that are designed to resemble Facebook
        and Gmail, executing bank transactions from your computer, etc.... Depending on the attackers motives, they can steal anything from passwords and cash to credit card and social
        security numbers, download a virus onto your coputer that can access your webcam, or even infect your 
        computer with a worm that can spread from your personal laptop throughout your entire company.

    p.
        Unless, or course, you're vigilant. 
    p.
        Next time you get an email, take three seconds to hover over the link glowing that familiar blue. This should
        show you where the link actually takes you. If the two are different -- be suspicious. 
    p.
        If the email has an attachment, hesitate. Is this for an invoice or a reciept? If so, check your bank and credit card accounts
        directly instead of opening the link -- if there has been a charge, you'll see it there. If not, it's probably a virus.
    p.
        Does the email look like it's from a friend or a boss? Give them a text if things seem weird, a call, a facebook message. 
        Try to get confirmation from the person through some other medium. If they don't know what your talking 
        about -- you guessed it -- it's probably a virus.
    p.
        These are a few of the most common phishing techniques you'll see, and some of the easiest ways to prevent them. 
        Hopefully this stunt hasn't made you too mad at me and has been somewhat educational. And if you have any questions 
        about why I was doing this or other attacks you could fall victim to, send me a message at: 
    p.
        Dylan(dot)phelan(at)tufts(dot)edu
    p.
        Thanks!
    p.
        - Dylan
    
